:root {
    --bg: white;
    --primary: orange;
    --secondary: green;
    --font-color: black;
}
[data-theme="dark"] {
    --bg: #151515;
    --primary: orange;
    --secondary: green;
    --font-color: white;
}

body{
    background-color: var(--bg);
    text-align: center;
    font-family: monospace;
    color: var(--font-color);
}

h1{
    color: var(--primary);
    font-weight: bolder;
    font-size: 50px;
}

h2{
    color: var(--secondary);
}

audio{
    color: rgba(245, 0, 0, 0.5);
    
}

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
    display: none;
}
 
.fancy-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

.fancy-checkbox{
    color: var(--font-color);
    font-size: xx-large;
    position: absolute;
    top: 10px;
    right: 10px;
}

.fancy-checkbox:hover{
    cursor:pointer ;
}

.clip{
    background-color: rgba(130, 130, 130, 0.3);
    width: fit-content;
    padding: 10px;
    height: auto;
    border-radius: 100px;
    font-size: large;
}