:root {
    --bg: white;
    --orange: orange;
    --green: green;
    --font: op
}

body{
    background-color: var(--bg);
    text-align: center;
}

h1{
    color: var(--orange);
    font-weight: bolder;
    font-size: xx-large;
}

h2{
    color: var(--green);
}